* {
  margin: 0;
}
body {
  background-color: #0a192ff0;
}
.form-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 15px 25px #020810;
  padding: 1rem;
  background-color: #0a192ff0;
}

input {
  margin: 1rem 0;
  display: flex;
  align-items: center;
}

.name-input {
  font-size: 1.3rem;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  align-items: center;
  width: 20rem;
  border: none;
  color: aliceblue;
  border-bottom: 2px solid grey;
  background-color: #0a192ff0;
}

.name-input:hover {
  box-sizing: border-box;
  box-shadow: 3px 3px 3px 3px #0a192f;
  cursor: pointer;
}

.name-input:focus {
  outline: none;
}

.email-input {
  font-size: 1.3rem;
  border: none;
  display: flex;
  width: 20rem;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  color: aliceblue;
  border-bottom: 2px solid grey;
  background-color: #0a192ff0;
}

.email-input:hover {
  box-sizing: border-box;

  box-shadow: 3px 3px 3px 3px #0a192f;
  cursor: pointer;
}

.email-input:focus {
  outline: none;
}

.submit-input {
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  align-items: center;
  border: none;
  height: 2rem;
  color: aqua;
  background-color: #0a192ff0;
}

.submit-input:hover {
  box-sizing: border-box;
  box-shadow: 3px 3px 3px 3px rgba(18, 18, 18, 0.841);
  cursor: pointer;
  color: black;
  background-color: aqua;
  border-radius: 50px;
}

.user-btn {
  text-decoration: none;
  background-color: #0a192f;
  padding: 0.3rem;
  font-family: "Courier New", Courier, monospace;
  color: aqua;
  display: flex;
  align-items: center;
}
.user-btn:hover {
  box-sizing: border-box;
  box-shadow: 3px 3px 3px 3px #0a192f;
  color: black;
  background-color: aqua;
  border-radius: 50px;
}

.users-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.h2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  padding-right: 7rem;
  color: aliceblue;
}

.user-names-container {
  margin: 2rem 5rem 0 0;
}

.user-names {
  text-decoration: none;

  list-style: none;
  position: relative;
  letter-spacing: 2px;
  color: aqua;
}

.user-names::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: aqua;
  transition: width 0.3s ease-in-out;
}

.user-names:hover::after {
  width: 8rem;
}

li {
  font-size: 1.5rem;
}

p {
  color: aqua;
  padding: 0.4rem 1.1rem;
  margin-bottom: 2rem;
}

.user-post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-name {
  display: flex;
  color: aliceblue;
  font-family: "Courier New", Courier, monospace;
  font-size: 4rem;
  margin-top: 4rem;
}

.post-input {
  height: 1.8rem;
  width: 30rem;
  border-radius: 20px;
  border: none;
  padding-left: 1rem;
}

.post-input:focus {
  outline: none;
}

.submit-post {
  text-decoration: none;
  background-color: transparent;
  padding: 0.3rem;
  font-family: "Courier New", Courier, monospace;
  color: aqua;
  display: flex;
  align-items: center;
  border: 3px solid;
  border-radius: 50px;
  font-weight: bolder;
  font-size: 1rem;
  margin-left: 1rem;
}

.submit-post:hover {
  box-sizing: border-box;
  box-shadow: 3px 3px 3px 3px #0a192f;
  color: black;
  background-color: aqua;
  border-radius: 50px;
  cursor: pointer;
}

.add-post {
  display: flex;
}

.posts {
  display: flex;
  align-items: center;
  margin: 2rem 2rem 0 2rem;
}

.p {
  padding-right: 10px;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

.rmv-btn {
  height: 35px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 3px #0a192f;
  color: aqua;
  margin-left: 2rem;
}

.rmv-btn:hover {
  color: black;
  background-color: aqua;
}

@media only screen and (min-width: 390px) and (max-width: 600px) {
  .post-input {
    width: 12rem;
  }
  .post-container {
    display: flex;
    flex-direction: column;
  }
  .p {
    letter-spacing: 1px;
    word-break: break-all;
  }
}
